.champTile {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}

.gamesFed {
  font-size: 24px;
  color: coral;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}
